appdirs==1.4.4
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==5.0.1
crayons==0.4.0
distlib==0.3.1
Django==2.1.15
django-cors-headers==3.4.0
django-materialize==1.0.1a2
djangorestframework==3.11.0
filelock==3.0.12
idna==2.10
importlib-metadata==2.0.0
invoke==1.4.1
pbr==5.5.1
Pillow==7.2.0
python-vuejs==1.0.9
pytz==2020.1
requests==2.25.0
selenium==3.141.0
six==1.15.0
stevedore==3.2.2
urllib3==1.25.9
virtualenv==20.1.0
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
webdriver-manager==3.2.2
zipp==3.4.0
